* { margin:0; padding:0; } /* to remove the top and left whitespace */

html {
  width: 100%;
  height:100%;
}

body {
  width: 100%;
  height: 100%;
}

.slid {
  position: absolute;
  left: 10px;
  z-index: 1;
  top: 10px;
  width:350px;
  height:100px;
  color: black;
}

.plot {
  position: absolute;
  z-index: 1;
  right: 10px;
  top: 10px;
  width: 500px;
  height: 500px;
  max-width:500px;
  max-height:500px;
}

canvas {
  display:block;
} /* To remove the scrollbars */
